@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --transition: 0.5s ease-in-out;
}

html,
body {
  height: 100%;
  margin: 0 auto;
  max-width: 1780px;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

@keyframes shake {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-4px);
  }
  50% {
    transform: translateY(4px);
  }
  75% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(4px);
  }
}

.animate-shake {
  animation: shake 0.5s ease-in-out;
}
